extends layout

block content
    h1 Sign Up
    form#signup-form(action="/signup", method="post")
        div
            label Email:
            input(type="text", name="email")
        div
            label Password:
            input(type="password", name="password")
        div
            input(type="submit", value="Sign Up")